@model SignalRChat.Models.ChatsAndUsersVM



<div class="row">

    <div class="col-md-4">
    <h3>Users</h3>

    <table class="user-table">

        @foreach(var user in Model.Users)
        {
            <tr>
                <td>
                    <div class="d-grid gap-2">
                        <input type="button" 
                        value="@Html.DisplayName(user.UserName)" 
                        onclick="location.href= '@Url.RouteUrl(new 
                            { 
                                controller = "ChatList", 
                                action = "PrivateChat", 
                                clientName = Model.Client.UserName,
                                userName = user.UserName
                            })'" />
                    </div>
                   
                </td>  
            </tr>
        }

    
    </table>
    </div>

    <div class="col-md-5">
    <h3>Chats</h3>

    <table class="chat-table">

        @if(Model.ChatRooms.Count() is 0){
            <tr>
                <td>
                    <p>You have not chats yet((</p>
                </td>
            </tr>
        }
        @foreach(var chat in Model.ChatRooms)
        {
            <tr class="d-xl-table">
                <td>
                    <div class="d-grid gap-2">
                        <input type="button"
                        class="btn-warning"
                        value="@Html.DisplayName(chat.GetAwaiter().GetResult().Name)" 
                        onclick="location.href= '@Url.RouteUrl(new 
                            { 
                                controller = "ChatList", 
                                action = "Messages", 
                                clientId = Model.Client.Id,
                                chatId = chat.GetAwaiter().GetResult().Id
                            })'" />
                    </div>               
                </td>  
            </tr>
        }
    
        
    </table>
    </div>

    <div class="col-md-3">
        <h3>Create new chat</h3>
        
        <input type="button"
                        class="btn-success"
                        value="Create" 
                        onclick="location.href= '@Url.ActionLink("GroupChat","ChatList", Model.Client)'" />

    </div>

</div>