@model SignalRChat.Models.UserChatVM


<div class="row">

    <div class="col-md-3">

        <h3>Members:</h3>
        <table class="me-md-10">

            @foreach (var member in Model.Members)
            {
                <tr>
                    <td>
                        @Html.DisplayName(member.UserName)
                    </td>
                </tr>
            }
        </table>

    </div>

    <div class="col-md-8 bg-success">

        @if (Model.Chat.Messages.Count() is 0)
        {
            <div class="row justify-content-center">
                <div class="col-4">
                    Write your first message!
                </div>
            </div>

        }
        else
        {
             @foreach (var message in Model.Chat.Messages)
            {

                    @if (message.SenderId!= Model.Client.Id)
                    {
                        <div class="row justify-content-start">
                            <div class="col-4 bg-info">
                                <p class="text-light"><small>
                                    @Html.DisplayName(Model.Members.First(u=> u.Id == message.SenderId).UserName)
                                    //Send at: @Html.DisplayName(message.SentAt.ToShortTimeString())
                                    </small></p>
                                <p>@Html.DisplayName(message.Text)</p>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-end">
                            <div class="col-4 bg-primary">
                                <p class="text-light"><small>Send at: @Html.DisplayName(message.SentAt.ToShortTimeString())</small></p>
                                <p>@Html.DisplayName(message.Text)</p>
                                
                            </div>
                        </div>
                    }

            }
        }           
    </div>
</div>

        <div class="row justify-content-end">
            <div class="col-6">
                <p></p>
                @using(@Html.BeginForm("SendText", "ChatList", FormMethod.Post))
                {
                    <div style="display: none;">@Html.EditorFor(model => model.Client)</div>
                    <div style="display: none;">@Html.EditorFor(model => model.Chat)</div>
                    <div style="display: none;">@Html.EditorFor(model => model.Members)</div>
                    @Html.TextBoxFor(model=> model.Text);

                    <button class="btn-warning">Send</button>
                }
            </div>
        </div>

